<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
</head>

<body>

    <h1>Daily To-Do List</h1>

    <div class="todo-container">
        {% set activities = session.get("activities") %}
        {% for todo in todos  %}
            <div class="card {{ 'completed' if todo['name'] in activities else '' }}">
                <!-- Calling getActivity with todo['id_no'] on button click -->
                <button id = "{{ todo['id_no'] }}" onclick="getActivity(this.id)">{{ todo['name'] }}</button> 
                
                <p>Activity points: {{ todo['points'] }}</p><br>
                <p>Activity Duration: {{ todo['duration'] }} minutes</p>
            </div>
        {% endfor %}        
    </div>

    <script>
        function getActivity(id_no) {
            console.log("Selected Activity ID:", id_no); // Log the selected ID

            fetch('/todos', { // Make sure this matches your Flask route
                method: 'POST',
                credentials: "include",
                headers: {
                    'Content-Type': 'application/json',
                    
                },
                body: JSON.stringify({
                    id_no: id_no // Send the activity ID
                })
            })
            .then(response => {
                if (response.ok) {
                    // On successful logout, redirect to the login page or show flash messages
                    response.text().then(text => {
                        alert('Redirecting to Activity');
                        window.location.href = '/activity'
                    });
                }else{
                    alert("An error occured...Try again.")
                }
            })
            .then(data => {
                console.log("Response from server:", data); // Log the response for debugging
                // if (data.redirect_url){
                //     window.location.href = data.redirect_url;
                // } else{
                //     alert("No url found...");
                // }

            })
            .catch(error => console.error('Error:', error)); // Handle any errors
        }
    </script>

</body>
</html>
