/* todo.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0e6ff; /* Light purple background */
}

h1 {
    color: #6a0dad; /* Purple color for the title */
    text-align: center;
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px; /* Fixed width for the cards */
    padding: 15px;
    height: 200px;
    margin: 10px;
    background-color: #6a0dad; /* Default purple background */
    color: white;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s; /* Added transform transition */
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
}
.card p{
    font-weight: bold;
    color: white;
    text-align: center;
}


/* Change background color on hover */
.card:hover {
    background-color: #570a8a; /* Darker purple on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}

.card.completed {
    background-color: #28a745; /* Green background for completed activities */
}

/* Change background color on hover for completed cards */
.card.completed:hover {
    background-color: #218838; /* Darker green on hover */
}

.card a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
}

.card a:hover {
    text-decoration: underline; /* Underline links on hover, if you want this effect */
}
